<div class="about-container">
    <h2>About Upbeat Blooms</h2>

    <div class="about-text">
    <p>Founded by college sweethearts, Upbeat Blooms is a cherished family-owned business serving up the Miami area for over 20 years. Renowned for our stunning arrangements and exceptional customer service, we offer an extension selection of flowers and plants, from timeless roses to exotic orchids. Plus, enjoy the convenience of same-day delivery for orders placed before 2pm.</p>
    
    <%= image_tag "store.png", alt: "Store", class: "centered-img" %>

    <h3>Our Commitment to Quality and Sustainability</h3>
    <p>At Upbeat Blooms, we're dedicated to not only creating beautiful floral arrangements but also to upholding sustainable practices. Our commitment to quality is evident in every bouquet we craft, ensuring that you receive only the freshest and most vibrant flowers.</p>

    <h3>Meet Our Talented Team</h3>
    <p>Behind every bouquet is a team of dedicated floral artists and customer service professionals. Our team's passion and expertise are what make Upbeat Blooms the go-to flower shop in Miami.</p>

    <%= image_tag "team.jpg", alt: "Our talented team at Upbeat Blooms", class: "centered-img" %>

    <p>Interested in a custom arrangement or have a special request? <a href="/contact">Contact us</a> or visit our shop in Miami. We're always here to help you bring your floral visions to life!</p>
    </div>
</div>