<div class="about-container">
    <div class="about-text">
    <h2>Contact Us</h2>

    <p>We'd love to hear from you! Whether it's feedback or a special request, get in touch with us.</p>

    <address>
        <strong>Upbeat Blooms</strong><br>
        1234 Lilies Flower Lane<br>
        Miami, FL 33101<br>
        Email: <a href="mailto:contact@upbeatblooms.com">contact@upbeatblooms.com</a><br>
        Phone: 1-800-UBLOOMS
    </address>

    <p>Follow us on <a href="https://www.instagram.com/upbeatblooms/">Instagram</a> and <a href="https://www.facebook.com/upbeatblooms">Facebook</a>!</p>

    <%= image_tag "flower6.jpg", alt: "Our friendly team at Upbeat Blooms", class: "contact-img" %>
    </div>
</div>