<h2>Our Gallery</h2>
<p>Explore some of our beautiful arrangements!</p>

<ul class="gallery-list">
    <li class="gallery-item">
        <div class="image-container">
            <%= image_tag "flower1.jpg", alt: "Country Garden Bouquet", class: "gallery-img" %>
        </div>
        <div class="description">
            <strong>"Country Garden" Flower Bouquet</strong>: 
            Brighten up your day with our vibrant sunflowers.
        </div>
    </li>

    <li class="gallery-item">
        <div class="image-container">
            <%= image_tag "flower2.jpg", alt: "Romantic Roses", class: "gallery-img" %>
        </div>
        <div class="description">
            <strong>Romantic Roses</strong>: 
            Classic red roses, perfect for expressing love.
        </div>
    </li>

    <li class="gallery-item">
        <div class="image-container">
            <%= image_tag "flower3.jpg", alt: "Beautiful in Blue", class: "gallery-img" %>
        </div>
        <div class="description">
            <strong>Beautiful in Blue</strong>: 
            Elegantly arranged in a vibrant cobalt blue vase, our bouquet features crème roses, white lilies, alstroemeria, and chrysanthemums, accented with eucalyptus and limonium, perfect for any special occasion.
        </div>
    </li>

    <li class="gallery-item">
        <div class="image-container">
            <%= image_tag "flower4.jpg", alt: "Endless Romance Bouquet", class: "gallery-img" %>
        </div>
        <div class="description">
            <strong>Endless Romance Bouquet</strong>: 
            Our 'Roses and Romance' bouquet pairs passionate red spray roses with heavenly white alstroemeria in a stylish glass hurricane vase, embodying a classic expression of affection and elegance.
        </div>
    </li>
</ul>