<div class="hero-section">
    <h1>Welcome to Upbeat Blooms!</h1>
    <p>Your one-stop shop for all your floral needs!</p>
    <a href="/gallery" class="cta-button">Explore Our Collection</a>
</div>

<div class="image-gallery">
    <ul class="gallery-list">
        <li class="gallery-item">
            <%= image_tag "flower1.jpg", alt: "Flowers 1", class: "gallery-img" %>
        </li>
        <li class="gallery-item">
            <%= image_tag "flower2.jpg", alt: "Flowers 2", class: "gallery-img" %>
        </li>
        <li class="gallery-item">
            <%= image_tag "flower3.jpg", alt: "Flowers 3", class: "gallery-img" %>
        </li>
        <li class="gallery-item">
            <%= image_tag "flower4.jpg", alt: "Flowers 4", class: "gallery-img" %>
        </li>
    </ul>
</div>